{% extends 'layout.html'%}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="">Hệ chuyên gia chẩn đoán bệnh dạ dày</h1>
        <p style="font-weight: bold;">
            Tất cả mọi người đều rất dễ mắc phải những chứng bệnh dạ dày. Nếu không được phát hiện ra sớm và điều trị
            kịp thời, bệnh có thể gây ra những hậu quả khôn lường đối với sức khỏe.
        </p>
        <p> Trong thực tế, các nghiên cứu cho thấy khoảng 1/5 dân số mắc phải các chứng bệnh liên quan tới dạ dày như
            đầy hơi, trào ngược hoặc táo bón.</p>
        <p> Nếu không được phát hiện ra sớm và điều trị kịp thời, những bệnh dạ dày có thể gây ra hậu quả khôn lường
            đối với sức khỏe. Dưới đây là 6 bệnh về dạ dày thường gặp nhất mà ai cũng nên biết để đối phó</p>
        <p><a class="btn btn-primary btn-lg" href="/diagnostic" role="button">Bắt đầu »</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Viêm dạ dày</h2>
            <p>Là tình trạng kích ứng, viêm, bị bào mỏng hoặc nhiễm khuẩn niêm mạc dạ dày cấp tính hoặc mạn tính. Viêm
                dạ dày có thể gây mỏng hoặc loét dạ dày. Vi khuẩn Helicobacter pylori (H. pylori) nếu tồn tại trong dạ
                dày có thể làm tăng tỷ lệ mắc và mức độ nghiêm trọng của bệnh.
            </p>
            <p><a class="btn btn-secondary" href="/diagnostic" role="button">Chẩn đoán</a></p>
        </div>
        <div class="col-md-4">
            <h2>Loét dạ dày</h2>
            <p>Loét dạ dày là hiện tượng loét hay xói mòn niêm mạc dạ dày. Trong một vài trường hợp, các vết loét có
                thể gây chảy máu đe dọa tính mạng. Sự nhiễm trùng do vi khuẩn Helicobacter pylori (H. pylori) có thể
                làm tăng tỷ lệ nhiễm và mức độ nghiêm trọng của bệnh.</p>
            <p><a class="btn btn-secondary" href="/diagnostic" role="button">Chẩn đoán</a></p>
        </div>
        <div class="col-md-4">
            <h2>Ung thư dạ dày</h2>
            <p>Là sự tăng trưởng bất thường của các tế bào trong dạ dày. Loại ung thư dạ dày phổ biến nhất là ung thư
                tuyến. Ung thư dạ dày là bệnh rất nghiêm trọng, khả năng sống sót của
                bệnh nhân phụ thuộc vào loại ung thư, kích thước khối u, tình trạng lây lan của khối u khi phát hiện
                bệnh. </p>
            <p><a class="btn btn-secondary" href="/diagnostic" role="button">Chẩn đoán</a></p>
        </div>
        <div class="col-md-4">
            <h2>Xuất huyết dạ dày</h2>
            <p>Hệ thống tiêu hóa bắt đầu từ miệng và bao gồm thực quản, dạ dày, ruột non và ruột già, kết thúc ở hậu
                môn. Chảy máu có thể xảy ra bất cứ nơi nào dọc theo con đường này và có thể được nhìn thấy trong chất
                nôn hoặc trong phân. Việc chảy máu có thể gây thiếu máu, phân đen hoặc máu đỏ tươi trong phân và chóng
                mặt. Xuất huyết tiêu hóa có thể đe dọa tính mạng. </p>
            <p><a class="btn btn-secondary" href="/diagnostic" role="button">Chẩn đoán</a></p>
        </div>
        <div class="col-md-4">
            <h2>Thủng dạ dày</h2>
            <p>Đường tiêu hóa bắt đầu từ miệng và bao gồm thực quản, ruột nhỏ và lớn, và kết thúc ở hậu môn. Một lỗ
                thủng có thể xuất hiện ở bất cứ bộ phận nào trong đó. Nguyên nhân thường gặp gây thủng dạ dày - ruột
                bao gồm: loét, tắc nghẽn đường ruột nặng, chấn thương hoặc ung thư. Đây là một hiện tượng nghiêm trọng
                có thể đe dọa cuộc sống và thường cần phải phẫu thuật. </p>
            <p><a class="btn btn-secondary" href="/diagnostic" role="button">Chẩn đoán</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hẹp môn vị</h2>
            <p>Hẹp môn vị là hiện tượng thức ăn bị ứ đọng lại trong dạ dày không xuống ruột được hoặc xuống rất hạn
                chế. Vì vậy mỗi khi một bộ phận nào đó của dạ dày bị tổn thương (viêm, loét, ung thư) đều có ảnh hưởng
                đến môn vị, và ngược lại, khi môn vị không bình thường đều có ảnh hưởng đến các bộ phận khác của dạ dày
                và hành tá tràng. </p>
            <p><a class="btn btn-secondary" href="/diagnostic" role="button">Chẩn đoán</a></p>
        </div>
    </div>

    <hr>

</div>

{% endblock %}